@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background: var(--main-bg);

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--gray);
    border: 1px solid var(--gray);
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
  }
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  outline: none;
  background: transparent;
  border: none;
}

svg path {
  transition: var(--t);
}
