.placeholder {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  height: 50px;
  border: 2px solid var(--accent);
  border-bottom-color: var(--white);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

.image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.7;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
