.fields {
  width: 520px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--black);

  input {
    width: 400px;
  }

  @media screen and (max-width: 840px) {
    width: auto;

    input {
      width: 100%;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (max-width: 450px) {
    gap: 10px;
  }

  @media screen and (max-width: 360px) {
    gap: 5px;
  }
}
