.root {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: var(--fs-xl);
  line-height: 1.36;
  color: var(--accent);

  @media screen and (max-width: 1140px) {
    & {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 520px) {
    & {
      font-size: var(--fs-l);
    }
  }
}
